

/* Reset */
.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
H1 { text-align: center }
H3 { text-align: center }
td {
	text-align: center;
	vertical-align: middle;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
}

.hideCol3 td:nth-child(3) { display: none;}
.hideCol4 td:nth-child(4) { display: none;}
.hideTitle3 th:nth-child(3) { display: none;}
.hideTitle4 th:nth-child(4) { display: none;}
.hideRow2 tr:nth-child(2) { display: none;}
.hideRow3 tr:nth-child(3) { display: none;}
.hideRow4 tr:nth-child(4) { display: none;}

.right {
	justify-self: end;
}

.center {
	justify-self: center;
}

input[type=text] {
	display: block;
}

P { text-align: center }

P.blocktext {
	margin-left: auto;
	margin-right: auto;
	width: 8em
}

.center2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}